:root {
	--color-fondo: #000000;
	--color-texto-sec: #aeaeae;
	--color-secundario: #e000ff;
	--color-terciario: #ff0038;
}

a {
	text-decoration: none;
}

.blueGradient {
	background: linear-gradient(to right, #3c7bf4 0%, #45deff 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.purpleGradient {
	background: linear-gradient(to right, #571cd4, #ee2ab3);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

body {
	background-color: var(--color-fondo);
	font-family: "Poppins", sans-serif;
	color: white;
}

.navbar-brand img {
	max-width: 150px;
}

.bg-black {
	background-color: var(--color-fondo);
}

.mainTitle {
	font-size: 5em;
	font-weight: 800;
	color: white;
}

.title {
	background-image: -webkit-linear-gradient(92deg, red, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}

	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}

.mainText {
	color: var(--color-texto-sec);
	font-size: 1.5em;
}

.btns {
	display: flex;
	justify-content: space-between;
}

.main {
	margin-top: 10%;
}

.btnGlow {
	background-image: linear-gradient(to right, #ff6e5e, #ffca45);
	border-radius: 8px;
	box-sizing: border-box;
	color: #f4f4f4;
	display: block;
	font: 1.2rem "Poppins", Arial, sans-serif;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 0.5px;
	position: relative;
	text-decoration: none;
	width: 220px;
	z-index: 2;
}

.btnGlow:hover {
	color: #fff;
	--angle: 0deg;
	background-image: linear-gradient(var(--angle), #ff6e5e, #ffca45);

	animation: 5s rotate linear infinite;
}

.btnGlow span {
	align-items: center;
	background: #090909;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background 0.5s ease;
	width: 100%;
}

.btnGlow:before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(-45deg, #ff6e5eb6 20%, #e34c1e7d 5%);
	transform: translate3d(0px, 10px, 0) scale(0.95);
	filter: blur(50px);
	opacity: var(0.8);
	transition: opacity 0.1s;
	border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.btnGlow::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: inherit;
	border-radius: inherit;
}

.btnGlow2 {
	background-image: linear-gradient(to right, #0a55b6, #19b6e6);
	border-radius: 8px;
	box-sizing: border-box;
	color: #f4f4f4;
	display: block;
	font: 1.2rem "Poppins", Arial, sans-serif;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 0.5px;
	position: relative;
	text-decoration: none;
	width: 220px;
	z-index: 2;
}

.btnGlow2:hover {
	color: #fff;
	--angle: 0deg;
	background-image: linear-gradient(var(--angle), #279ed4, #4570ff);

	animation: 5s rotate linear infinite;
}

.btnGlow2 span {
	align-items: center;
	background: #090909;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background 0.5s ease;
	width: 100%;
}

.btnGlow2:before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(-45deg, #2b6fc7b6 20%, #109bc57d 5%);
	transform: translate3d(0px, 10px, 0) scale(0.95);
	filter: blur(50px);
	opacity: var(0.8);
	transition: opacity 0.1s;
	border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.btnGlow2::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: inherit;
	border-radius: inherit;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}
@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.funcSec {
	margin-top: 4%;
}


.card-img-top {
	width: 100%;
	height: 12vw;
	object-fit: cover;
}
.card-body {
	text-align: left;
}



a {
	text-decoration: none;
	color: white;
}
@media only screen and (max-width: 600px) {
	.mainTitle {
		font-size: 3em;
		font-weight: 800;
		color: white;
	}
}

.footer {
	border-top: 0.3px solid var(--color-texto-sec);
	margin-top: 5%;
}
.copy-link {
	--height: 30px;

	display: flex;
	justify-content: center;
	padding-top: 30px;
	/* max-width: 280px; */
}

.copy-link-input {
	/* flex-grow: 1; */
	padding: 0 8px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-right: none;
	outline: none;
}

.copy-link-input:hover {
	background: #eeeeee;
}

.copy-link-button {
	flex-shrink: 0;
	width: var(--height);
	height: var(--height);
	display: flex;
	align-items: center;
	justify-content: center;
	background: #032a31;
	color: #f7f7f7;
	outline: none;
	border: 1px solid #032a31;
	cursor: pointer;
}

.copy-link-button:hover {
	background: #184ad6;
}

@media screen and (max-width: 600px) { /* adjust the max-width to your preferred phone screen size */
	.btns {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}

	.btn{
		margin-bottom: 20px;
	}

}